* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, rgba(155, 37, 73, 1) 0%, rgba(17, 7, 57, 1) 14%, rgba(17, 7, 57, 1) 86%, rgba(155, 37, 73, 1) 100%);
  background-repeat: repeat-y;
  font: 12px Helvetica, Arial;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 1000px;
}

/* For any viewports less than 1000px wide */

@media (max-width: 1000px) {
  body {
    background-size: 1000px;
    /* Force the image to its minimum width */
  }
}

body#viewer {
  background: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  margin-top: 0px;
  overflow: hidden;
}

#logo {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#logo img {
  display: block;
}

.grid {
  max-width: 910px;
  margin-left: auto;
  margin-right: auto; 
}

.grid-item {
  padding: 10px;
  width: 450px;
  margin-bottom: 10px;
  float: left;
}

#controls {
  background: #303030;
  border-radius: 0.3rem;
}

#controlButtons {
  display: flex;
  justify-content: center;
}

.controlButton {
  cursor: default;
  border: none;
  margin: 0px 10px 10px 10px;
  border-radius: 0.3rem;
}

.playerControls {
  display: flex;
  justify-content: center;
}

#swap {
  border: 1px solid transparent;
  margin-left: 10px;
  width: 60px;
}

#inputs {
  display: flex;
  justify-content: center;
}

#inputs label {
  font-size: 16px;
}

.name {
  width: 200px;
}

.score {
  width: 40px;
}

.increment {
  cursor: pointer;
}

.decrement {
  
  cursor: pointer;
}

.zero {
  cursor: pointer;
  font-weight: bold;
}

.updateControls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.updateControls button {
  margin-right: 10px;
}

#changedInfo {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 10px;
}

.pending {
  color: #f39c12;
}

.applied {
  color: #00bc8c;
}

.selected {
  font-weight: bold;
}

#instructions {
  background: #303030;
  font-size: 16px;
  padding: 10px;
  border-radius: 0.3rem;
}

#instructions h1 {
  margin-top: 0px;
}

#instructions a {
  color: #20c997;
}

#playerList {
  background: #303030;
  min-height: 134px;
  border-radius: 0.3rem;
}

#uriLoad {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

#urlInput {
  width: 225px;
}

#listPlayers {
  --bs-table-bg: #303030;
  
}

.scaleable-wrapper {
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: url(tekken7-preview.png);
  width: 910px;
  height: 100px;
  border-radius: 0.3rem;
}

#previewTitle {
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  color: #f39c12;
}

.topOverlay {
  height: 41px;
  width: 1280px;
  position: relative;
  z-index: 1;
  top: -41px;
  left: 0;
  background-image: url(tekken-versus-overlay.png);
  overflow: hidden;
  transition: top 0.4s;
  transform-origin: left top;
}

.topOverlay span {
  font-size: 25px;
  font-variant: small-caps;
  font-weight: bold;
  text-decoration: none;
  padding: 4px;
  position: absolute;
  color: #ebebeb;
  display: inline-block;
  text-align: center;
}

#players span#p1Name {
  left: 190px;
}

#players span#p1Score {
  left: 525px;
}

#players span#p2Name {
  right: 190px;
}

#players span#p2Score {
  right: 525px;
}

.listName {
  font-size: 16px;
}

.listButtons {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 0;
  height: 31px;
  transition: .3s;
}

.listButtons button{
  margin-right: 10px;
}

.listSelected {
  width: 100%
}